<nav class="navbar navbar-dark bg-dark sticky-top shadow-lg border-bottom border-2 border-primary">
  <div class="container-fluid">
    <div class="h3 fw-bold text-white">
      BaseProject - <span
      style="background: linear-gradient(90deg, deeppink, blueviolet); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">DEV</span>
    </div>
    <div class="d-flex align-items-center">
      <div class="badge text-bg-primary p-2 me-3">Admin</div>
      <button class="navbar-toggler ms-3 btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
              aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="offcanvas offcanvas-end text-bg-dark border-start border-2 border-primary" tabindex="-1" id="offcanvasDarkNavbar"
         aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">User Info</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <div class="card text-bg-dark mb-3" style="max-width: 100%;">
            <div class="card-header fw-bold">TEST</div>
            <div class="card-body">
              <h5 class="card-title">User Information</h5>
              <p class="card-text">
                TEXT
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</nav>
